body {
	background-color: #111109;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	padding: 1em;
	font-size: 16px;
}

textarea {
	margin-bottom: 10px;
	margin-right: 10px;
  resize: none;
  border: none;
  overflow: auto;
  outline: none;
  min-width: 512px;
}

button {
  border: none;
  color: #FFF;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  min-width: 150px;
  outline: none;
}

.primary {
	background-color: #00cc48;
}

.secondary {
	background-color: #c7a919;
}

@media only screen and (max-width:768px) {
  body {
  	font-size: 1.2em;
  }

  #bodyContainer {
  	width: 100%;
  }
  
  textarea {
  	min-width: 100%;
  	width: 100%;
  }

  button {
  	min-width: 100px;
  	padding: 0.8em 1.2em;
  	font-size: 0.8em;
  }

  #buttonContainer {
  	width: 100%;
  }
}

#bodyContainer {
	display: flex;
	flex-direction: column;
}

#billInputContainer {
	margin-bottom: 32px;
}

#splitResultsContainer {
	visibility: hidden;
}

#billInputTitle, #splitResultsTitle, #billInputDescription {
	margin-bottom: 10px;
}

#billInputTitle, #splitResultsTitle {
	font-size: 1.2em;
}

#buttonContainer {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	max-width: 32em;
	margin-right: 10px;
}

#allUserResultsContainer {
	padding-top: 10px;
}

.userResultContainer {
	padding-left: 10px;
	margin-bottom: 24px;
}

.userItemsContainer, .userTotalContainer {
	padding-left: 15px;
}

.userTotalContainer {
	color: #00cc48;
}

.usernameContainer {
	padding: 8px;
	background-color: #01481a;
	vertical-align: middle;
}

.itemContainer, .userTotalContainer {
	padding-top: 8px;
	padding-bottom: 8px;
}

.itemContainer {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	max-width: 480px;
}

.nameInput {
	margin-left: 4px;
	border: none;
	outline: none;
	height: 1.75em;
}

.assignmentMode {
	border-bottom: 1px solid #f0f0f5;
}

#doneButtonContainer {
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
	max-width: 495px;
}

#doneButton {
	margin-top: 10px;
	min-width: 25px;
	padding: 10px 24px;
	background-color: #00cc48;
}

#assignTextContainer {
	margin-bottom: 1em;
}