body {
	background-color: #111109;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	padding: 16px;
}

textarea {
	margin-bottom: 10px;
  resize: none;
  border: none;
  overflow: auto;
  outline: none;
}

button {
  background-color: #33cccc;
  border: none;
  color: #FFF;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  outline: none;
}

#billInputContainer {
	margin-bottom: 32px;
}

#billInputTitle, #splitResultsTitle, #billInputDescription {
	margin-bottom: 10px;
}

#billInputTitle, #splitResultsTitle {
	font-size: 20px;
}

#allUserResultsContainer {
	padding-top: 10px;
}

.userResultContainer {
	padding-left: 10px;
	margin-bottom: 32px;
}

.userItemsContainer, .userTotalContainer {
	padding-left: 15px;
}

.userTotalContainer {
	color: #33cccc;
}